.divGeneral {
  background-color: aquamarine;
}

.Navbar {
  display: flex;
  background-color: #28262c;
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  width: 90%;
  position: fixed;
  top: 0;
  margin: auto;
}

.cartIcon {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.cartWidget {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  gap: 2rem;
}

.productos {
  width: 75%;
  margin: 10rem auto;
}
